html, body {
	padding: 0;
	margin: 0px 0px 0px 0px;
	background-color: #C5CAE9;
}
/**
#menubar {
	float: left;
	height: 100%;
	width: 18%;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	border-right-style: solid;
	border-right-color: #444444;
	background-color: #DDDDDD;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/

#workspace {
	padding-top: 30px;
	width: 100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#rendered {
	background-color: white;
	margin: auto;
	margin-top: 5%;
	padding-left: 75px;
	padding-right: 75px;
	box-shadow: 2px 2px 10px #0a0a0a;
}
#info-area-container {
	position: relative;
	margin: 3.5% auto 1% auto;
	width: 1100px;
	color: black;
	font-size: 20px;
	display: flex;
}
#info-area-sub-container{
	padding: 20px;
	background-color: #3F51B5;
	box-shadow: 2px 2px 10px #3e3e3e;
}
#info-area-sub-container div:nth-of-type(1){

}
#info-area-sub-container div:nth-of-type(2){
	margin-top: 10px;
}

#control-bar {
	font-size: 35px;
	color: white;
	background: rgb(63,81,181);
	background: linear-gradient(rgb(37,54,181), rgb(63, 81, 181)); /* #3F51B5 */
	width: 100%;
	box-shadow: 2px 2px 10px #3e3e3e;
	padding: 30px 300px 30px 80px;
	display: flex;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
	margin: 0 auto;
}

.main-buttons {
	width: 160px;
	height: 44px;
	background-color: #7986CB;
	/*#7986CB*/
	font-family: "Roboto";
	font-size: 18px;
	color: white;
	cursor: pointer;
	border-style: none;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #3e3e3e;
}

/** Modal stuff*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-header{
	background-color: #3F51B5;
	padding: 20px 20px 20px 30px;
	font-family: "Roboto";
	font-size: 40px;
	color: white;
}
.keysig-modal-content {
    background-color: #C5CAE9;
    margin: 8% auto; /* 8% from the top and centered */
    width: 720px;
   	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.44s;
    animation-name: animatetop;
    animation-duration: 0.44s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes animatetop {
    from {top: -50%; opacity: 0}
    to {top: 0%; opacity: 1}
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-keysig-buttons{
	width: 100px;
	height: 40px;
	background-color: #7986CB;
	border-style: none;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #3e3e3e;
	font-family: "Roboto";
	font-size: 18px;
	color: white;
	margin: 20px 20px 20px 20px;
	cursor: pointer;
}

.modal-keysig-buttons:hover{
	background-color: #3F51B5;
}

p{
	margin: 5px 0px;
	color: white;
	font-family: "Roboto";
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
