html, body {
	padding: 0;
	margin: 0px 0px 0px 0px;
	background-color: #C5CAE9;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/**
#menubar {
	float: left;
	height: 100%;
	width: 18%;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	border-right-style: solid;
	border-right-color: #444444;
	background-color: #DDDDDD;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/

h1 {
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 60px;
	color: #0b0b0b;
}

#workspace {
	padding-top: 30px;
	width: 100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#rendered {
	background-color: white;
	margin: auto;
	padding-left: 75px;
	padding-right: 75px;
	box-shadow: 2px 2px 10px #0a0a0a;
}
#info-area {
	margin: auto;
	margin-top: 10px;
	width: 1085px;
	color: black;
	font-size: 20px;
}

#control-bar {
	background-color: #3F51B5;
	height: 10%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 2px 2px 10px #3e3e3e;
	padding: 0px 60px 0px 60px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-buttons {
	width: 160px;
	height: 40px;
	background-color: #7986CB;
	border-color: silver;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	margin: 20px 20px 20px 0px;
	cursor: pointer;
}

/** Modal stuff*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-header{
	background-color: #3F51B5;
	padding: 20px 20px 20px 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 40px;
	color: white;
}
.keysig-modal-content {
    background-color: #C5CAE9;
    margin: 8% auto; /* 8% from the top and centered */
    width: 720px;
   	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.75s;
    animation-name: animatetop;
    animation-duration: 0.75s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes animatetop {
    from {top: -50%; opacity: 0}
    to {top: 0%; opacity: 1}
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-keysig-buttons{
	width: 100px;
	height: 40px;
	background-color: #7986CB;
	border-color: silver;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
	color: white;
	margin: 20px 20px 20px 20px;
	cursor: pointer;
}

.modal-keysig-buttons:hover{
	background-color: #3F51B5;
}